<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
<h2>User List</h2>
세션값 확인 : <p th:text="${session['sessionEmail']}"></p>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이메일</th>
        <th>이름</th>
        <th>상세 조회</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.name}"></td>
        <td>
            <a th:href="@{|/user/${user.id}|}">조회</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>