<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>메인화면</h2>
    <a th:if="${session == null}" href="/user/join">회원가입</a>
    <a th:if="${session == null}" href="/user/login">로그인</a>
    <a th:if="${session.sessionId != null}" href="/user/edit">사용자 수정</a>
    <a th:if="${session.sessionId != null}" href="/post/create">글작성</a>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${postList}">
            <td><a th:text="${post.id}" th:href="@{|/post/read/${post.id}|}"></a></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.userId}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>